@font-face {
    /* Poppins */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins-Medium.woff') format('woff');
}

::selection {
    background-color: transparent;
}

body {
    background-color: #000308;
    color: #e9eef7;
    font-family: "Poppins", sans-serif;
    cursor: default;
}

nav {
    padding: 20px;
    font-size: 15px;
    margin-bottom: 30vh;
    position: fixed;
    top: 0px;
    background-color: #000308;
    z-index: 100;
    width: calc(100vw - 40px);
}

nav a, b {
    color: white;
    text-decoration: none;
    padding-right: 15px;
    font-size: 20px;
}

h1 {
    font-size: calc((5vw + 5vh) / 2);
    padding: 10px;
}

h1 span.blue {
    color: #0091FF;
}

div#information {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: calc((2vw + 2vh) / 2);
    width: 30vw;
    min-width: 300px;
}

span#hero_buttons button {
    padding: 15px;
    border-radius: 100px;
    min-width: 200px;
    border-width: 0px;
    background-color: #0083e8;
    color: white;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}

span#hero_buttons button.second {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
}

#slideshow_image {
    width: 75vw;
    max-width: 1024px;
    min-width: 300px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff1c;
    transition: ease-in-out 1s;
}

#features {
    text-align: center;
}

#features #feature {
    min-width: 300px;
    background-color: transparent;
    margin: 25vw;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    font-size: large;
    text-align: center;
    height: 330px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
}

#features #feature strong {
    font-size: large;
}

#features #feature img {
    max-height: 128px;
}

span.text_container {
    width: 30vw;
    display: inline-block;
    text-align: justify;
}

#release_notes {
    padding: 20px;
    margin-left: 20vw;
    margin-top: 50px;
    width: 60vw;
    background-color: #2a2a2a;
    color: white; 
    border-radius: 10px; 
}