body {
    background-color: #001222;
    color: rgb(0, 255, 98);
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: url(../../images/hacker.png), auto;
    min-height: 95vh;
    animation-name: load;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes load {
    0% {
    filter: opacity(0%);
    background-color: blue;
    }

    100% {
    filter: opacity(100%);
    }
}

.note {
    color: white;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}

.synt1 {
    color: rgb(0, 173, 0);
}

.synt2 {
    color: yellow;
}

.hackerscript {
    color: black;
    background-color: lime;
}

button {
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;
    color: lime;
    background-color: #00000000;
    padding: 5px;
    margin-right: 1px;
    margin-top: 5px;
    font-family: monospace;
    width: 120px;
    border-radius: 5px;
    cursor: url(../../images/hacker.png), auto;
}

button:hover {
    animation-name: btnhover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btnhover {
    0% {}
    100% { background-color: rgb(0, 100, 0); }
}

hr {
    border-style: solid;
    border-width: 0.25px;
    border-color: lime;
    margin: 0px;
    margin-top: 5px;
    width: 12cm;
    max-width: 80vw;
}

a {
    color: red;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}