div.chip {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    max-width: 100px;
    min-width: 100px;
    border-width: 0.5px;
    border-color: silver;
    border-style: solid;
    display: inline-block;
    letter-spacing: 1px;
}

div.chip:hover {
    animation-name: chip;
    animation-duration: 0.5s;
}

@keyframes chip {
    0% {
        
    }

    50% {
        background-color: hsl(0, 0%, 90%);
    }

    100% {

    }
}