button.ui {
    border-radius: 5px;
        border-color: rgba(206, 206, 206, 0);
        background-color: rgba(241, 241, 241, 0);
        border-width: 0px;
        font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
        min-width: 4.75cm;
        margin: 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline;
        border-width: 0.1vw;
}

button.ui:hover {
    background-color: hsl(0, 0%, 97%);
}

button.ui:focus {
    background-color: hsl(0, 0%, 89%);
}

button:disabled {
    opacity: 50%;
    font-weight: 100;
}

input[type=password] {
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin: 10px;
    min-width: 200px;
    font-family: Montserrat, sans-serif;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
    cursor: url(../favicons/input.png), default;

}

input[type=text] {
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin: 10px;
    min-width: 200px;
    font-family: Montserrat, sans-serif;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
    cursor: url(../favicons/input.png), default;

}

input[type=color] {
    border-radius: 10px;
    padding: 0px;
    border-width: 0px;
    border-color: #ffffff00;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin: 10px;
    min-width: 50px;
    height: 35px;
    font-family: Montserrat, sans-serif;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
}
select.ui {
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-color: rgb(255, 255, 255);
    font-family: Montserrat;
}

select.ui:hover {
    background-color: hsl(0, 0%, 97%);
}

button.ui:focus {
    filter: brightness(80%);
}

textarea.ui {
    resize: vertical;
    border-width: 0px;
    border-radius: 10px;
    width: calc(100vw - 60px);
    height: 60vh;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    border-bottom-color: #0af;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div.materless {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    height: 9cm;
    width: 9cm;
    z-index: 100;
}

img.block {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: roll;
}