@font-face {
    /* Montserrat */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/Montserrat-Medium.eot') format('embedded-opentype'),
        url('../../../fonts/Montserrat-Medium.woff') format('woff'),
        url('../../../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    /* Poppins */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
    /* Playfair Display */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/PlayfairDisplay-Medium.eot') format('embedded-opentype'),
        url('../../../fonts/PlayfairDisplay-Medium.woff') format('woff'),
        url('../../../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
    /* Grape Nuts */
    font-family: 'GrapeNuts';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/GrapeNuts-Regular.woff') format('woff');
    unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
}

iframe.iframe {
    width: calc(100vw - 0px);
    height: calc(100vh - 80px);
}

input[type="text"] {
    border-radius: 2px;
    border-width: 0px;
    background-color: #3e3e3e;
    padding: 5px;
    font-family: 'Poppins', 'Poppins medium', 'Montserrat', 'monospace';
    width: calc(90vw - 200px);
    margin-bottom: 5px;
}

input[type="text"] {
    border-radius: 2px;
    border-width: 0px;
    background-color: #3e3e3e;
    padding: 5px;
    font-family: 'Poppins', 'Poppins medium', 'Montserrat', 'monospace';
    width: 90vw;
    margin-bottom: 5px;
}

button.send {
    width: 195px;
    margin-right: 5px;
    height: calc(14pt + 10px);
    border-width: 0px;
    border-radius: 2px;
    background-color: #3e3e3e;
    font-family: 'Poppins', 'Poppins medium', 'Montserrat', 'monospace';
    cursor: pointer;
}

textarea {
    width: 90vw;
    height: 600px;
    max-height: 80vh;
    padding: 5px;
    font-family: 'Poppins', 'Poppins medium', 'Montserrat', 'monospace';
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-size: 12pt;
    border-width: 0px;
}

textarea:focus {
    box-shadow: -2px -2px 4px 0px #6363634a inset,
        2px 2px 4px 0px #0000005c inset;
}

input[type="password"] {
    padding: 5px;
    border-radius: 2.5px;
    background-color: #efefef;
    color: black;
    border-width: 0px;
}