@font-face {
    /* Montserrat */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/Montserrat-Medium.eot') format('embedded-opentype'),
        url('../../../fonts/Montserrat-Medium.woff') format('woff'),
        url('../../../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    /* Poppins */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
    /* Playfair Display */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/PlayfairDisplay-Medium.eot') format('embedded-opentype'),
        url('../../../fonts/PlayfairDisplay-Medium.woff') format('woff'),
        url('../../../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
    /* Grape Nuts */
    font-family: 'GrapeNuts';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/GrapeNuts-Regular.woff') format('woff');
    unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
}

:root {
    --shadow: 0 0 5px rgba(153, 153, 153, 0.3);
}

::placeholder {
    color: rgb(220, 220, 220);
    letter-spacing: 0.5px;
}

*:focus {
    outline: none;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
    cursor: url('../cursor.png'), default;
    background-color: #282828;
}

input {
    cursor: url('../favicons/input.png'), default;
}

label {
    font-family: 'Montserrat', sans-serif;
}

* {
    cursor: url('../cursor.png');
}


textarea {
    cursor: url('../favicons/input.png'), default;
}

a {
    cursor: url('../cursor.png'), default;
    color: dodgerblue;
}

div.title {
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif, monospace, serif, 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 5px;
    color: #efefef;
    height: 20px;
    margin-bottom: 10px;
    background-color: #1b1b1b;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.close {
    border-radius: 50%;
    background: linear-gradient(145deg, #ff0000, #d40000);
    box-shadow: -2px -2px 4px 0px #ffffff48,
        2px 2px 4px 0px #000000;
    border-width: 0px;
    height: 15px;
    width: 15px;
    padding: 0px;
    max-width: 15px;
    background-color: rgb(255, 30, 0);
    position: relative;
    top: 2.5px;
    display: inline;
}

button.close:disabled {
    background-color: #dbdbdb;
}

button.close:hover {
    filter: brightness(90%);
}

::-moz-selection {
    color: white;
    background: dodgerblue;
}

::selection {
    color: white;
    background: dodgerblue;
}

::-webkit-selection {
    color: white;
    background: dodgerblue;
}

h1 {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 20pt;
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 17pt;
}

h3 {
    margin-left: 5px;
    font-weight: normal;
    font-size: 15pt;
}

h4 {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14pt;
}

h5 {
    margin-left: 5px;
    font-weight: normal;
    font-size: 13pt;
}

h6 {
    margin-left: 5px;
    font-weight: normal;
}

button {
    color: #000;
    cursor: url(../cursor.png), default;
    font-family: 'Montserrat', 'Poppins';
}

input[type=password] {
    background-color: #282828;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    border-style: solid;
    margin: 5px;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    cursor: url(../favicons/input.png), default;
    color: white;
    box-shadow: -2px -2px 4px 0px #6363634a, 2px 2px 4px 0px #0000005c;
    letter-spacing: 2px;
}

input[type=password]:focus {
    box-shadow: -2px -2px 4px 0px #6363634a inset,
        2px 2px 4px 0px #0000005c inset;
}

input[type=text] {
    background-color: #282828;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin: 5px;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    cursor: url(../favicons/input.png), default;
    color: white;
    box-shadow: -2px -2px 4px 0px #6363634a, 2px 2px 4px 0px #0000005c;
}

input[type=text]:focus {
    box-shadow: -2px -2px 4px 0px #6363634a inset,
        2px 2px 4px 0px #0000005c inset;
}

input[type="range"] {
    cursor: url(../cursor.png);
}

input:focus {
    animation-name: dark;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes dark {
    0% {}

    100% {
        filter: brightness(95%);
    }
}

input[type=number] {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    background-color: rgba(0, 0, 0, 0.01);
    margin: 5px;
    min-width: 1cm;
    font-family: Montserrat, sans-serif;
    cursor: url(../favicons/input.png), default;
    outline: deepskyblue;
}

input[type=date] {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    background-color: rgba(0, 0, 0, 0.01);
    margin: 5px;
    min-width: 200px;
    font-family: Montserrat, sans-serif;
    cursor: url(../cursor.png), default;
    outline: deepskyblue;
}

input[type=color] {
    border-radius: 10px;
    padding: 0px;
    border-width: 0px;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin: 10px;
    min-width: 50px;
    height: 35px;
    font-family: Montserrat, sans-serif;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
}

.seper {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100vw;
    height: 1.5px;
    background-color: rgb(235, 235, 235);
}

.seperfat {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100vw;
    height: 2px;
    background-color: rgb(204, 204, 204);
}

a {
    text-decoration: none;
}

@keyframes blur {
    0% {
    }

    100% {
    }
}

div.desktop {
    height: 100vh;
}

div.taskbar {
    height: auto /*45px*/;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.7);
}

div.app {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

img.launcher {
    border-radius: 5px;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
}
img.launcher:focus {
    animation-name: lclick;
    animation-duration: 0.25s;
}
@keyframes lclick {
    0% {}
    50% {
        margin-bottom: 10px;
        height: 30px;
        filter: brightness(80%);
    }
    100% {}
}

.menu {
    width: 80vw;
}

.content {
    margin: 10px;
}

.folder {
    height: 6.5vh;
    width: 6.5vh;
    background-size: cover;
    background-position: center;
}

.folder:hover {
    animation-name: btnbumb;
    animation-duration: 1s;
}

@keyframes btnbumb {
    0% {}

    50% {
        filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));
    }

    100% {}
}

.invalid {
    filter: grayscale(100%);
}

button.ui {
    border-radius: 5px;
    border-color: rgba(35, 35, 35, 0);
    background-color: #282828;
    border-width: 0px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    min-width: 4.75cm;
    margin: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    color: white;
    box-shadow: -2px -2px 4px 0px #6363634a, 2px 2px 4px 0px #0000005c;
}

button.ui:focus {
    box-shadow: -2px -2px 4px 0px #6363634a inset,
        2px 2px 4px 0px #0000005c inset;
}

button.ui:disabled {
    color: grey;
}

button {
    background-color: #282828;
}

button.focus {
    border-radius: 5px;
    border-color: rgb(206, 206, 206);
    background-color: dodgerblue;
    color: white;
    border-width: 0px;
    border-style: solid;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    min-width: 4.75cm;
    margin: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), -2px -2px 5px rgba(255, 255, 255, 0.175);
}

button.focus:hover {
    background-color: rgb(71, 163, 255);
}

button.focus:focus {
    animation-name: down;
    animation-duration: 1s;
}

@keyframes down {
    0% {}

    50% {
        box-shadow: none;
    }

    100% {}
}

button:disabled {
    opacity: 50%;
    font-weight: 100;
}

button.button:hover {
    animation-name: changecolor;
    animation-duration: 2s;
}

button.range {
    width: 1cm;
    border-radius: 5px;
    border-width: 0px;
    padding: 5px;
    font-family: 'Montserrat';
    margin: 0px;
    margin-top: 5px;
}

button.fblue:focus {
    background-color: rgb(0, 140, 255);
}

button.fgreen:focus {
    background-color: rgb(0, 216, 72);
}

@keyframes changecolor {
    0% {}

    50% {
        background-color: hsl(198, 100%, 50%);

    }

    100% {}
}

button.lnch {
    border-radius: 5px;
    border-color: silver;
    background-color: rgb(243, 243, 243);
    border-width: 1px;
    border-style: solid;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    min-width: 120px;
    margin: 5px;
    height: 30px;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.1);
}

button.lnch:hover {
    animation-name: changecolor;
    animation-duration: 0.5s;
}

@keyframes changecolor {
    0% {}

    50% {
        background-color: hsl(0, 0%, 85%);

    }

    100% {}
}

.button:hover {
    animation-name: btndrop;
    animation-duration: 2s;
}

@keyframes btndrop {
    0% {}

    50% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    100% {}
}

@keyframes shadow {
    0% {}

    50% {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }

    100% {}
}

.msg {
    top: calc(80vh - 5vw + 10px);
    left: calc(100vw - 15vw - 30px);
    position: fixed;
    height: calc(10vw + 50px);
    width: 15vw;
    min-width: 500px;
    min-height: 500px;
    background-color: red;
    border-radius: 10px;
    background-color: #0af;
    box-shadow: 0 0 5px black;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.policy {
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(0, 143, 214);
    padding: 5px;
}

.policy:hover {
    background-color: rgb(0, 124, 185);
}

button.rconfirm {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 170, 255);
    color: white;
    border-width: 0px;
    margin: 0px;
}


select.ui {
    border-radius: 5px;
    background-color: #282828;
    box-shadow: -2px -2px 4px 0px #6363634a, 2px 2px 4px 0px #0000005c;
    border-width: 0px;
    border-style: solid;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    min-width: 4.75cm;
    margin: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    padding-left: 10px;
    color: white;
}

select.ui:focus {
    box-shadow: -2px -2px 4px 0px #6363634a inset,
        2px 2px 4px 0px #0000005c inset;
}

textarea.ui {
    resize: vertical;
    border-width: 0px;
    border-radius: 10px;
    width: calc(100vw - 60px);
    height: 60vh;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 2.5px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    border-bottom-color: #0af;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    outline: none;

}

div.materless {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(40, 40, 40);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75), -2px -2px 5px rgba(255, 255, 255, 0.105);
    border-radius: 5px;
    height: 9cm;
    width: 9cm;
    z-index: 100;
}

div.apps {
    margin: 10px;
    padding: 10pxs;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    width: 15cm;
    height: 12cm;
}

audio.ui {
    margin: 10px;
    border-radius: 10px;
}

img.icons {
    margin-top: 4px;
    height: 11.5pt;
    width: 11.5pt;
}

div.clap {
    border-radius: 1cm;
    background-color: rgb(235, 235, 235);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(146, 146, 146);
    width: 50vw;
    min-width: 12cm;
    height: 30px;
    padding: 10px;
    margin: 10px;
}

button.time {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

button.red {
    background-color: rgb(255, 0, 0);
    border-width: 1px;
    border-color: darkred;
}

button.red:hover {
    background-color: rgb(240, 0, 0);
}

button.red:focus {
    background-color: rgb(211, 0, 0);
}

button.time:hover {
    background-color: rgba(255, 255, 255, 0.685);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 156, 156);
}