input.math {
    border-radius: 10px;
    padding-left: 5px;
    padding: 10px;
    border-radius: 2px;
}

input.math:focus {
    outline: none;
}

button.close:hover {
    background-color: rgb(204, 0, 0);
}

textarea.form {
    font-family: monospace, sans-serif;
    border-width: 0px;
    border-color: rgb(153, 153, 153);
    padding: 10px;
    border-radius: 2px;
    border-style: solid;
    letter-spacing: 1px;
    margin: 10px;
    min-width: 200px;
    font-size: 15pt;
    font-weight: 300;
    border-radius: 10px;
    outline: none;
    background-color: #efefef;
}

textarea:focus {
    animation-name: dark;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

button.symbl {
    border-radius: 1px;
    border-width: 0px;
    background-color: rgb(235, 235, 235);
    height: 40px;
    width: 40px;
    font-family: sans-serif;
    margin: 12px;
}

button.symbl:hover {
    animation-name: symbldrk;
    animation-duration: 0.5s;
}

@keyframes symbldrk {
    0% {}

    50% {
        background-color: hsl(0, 0%, 25%);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        color: white;
    }

    100% {}
}

button.calc {
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    background-color: dodgerblue;
    height: 45px;
    width: 70px;
    font-family: sans-serif;
    margin-bottom: 5px;
    color: black;
}

button.calc:hover {
    animation-name: calcbtnhover;
    animation-duration: 1s;
}

input.calc {
    font-family: monospace, sans-serif;
}

button:disabled {
    background-color: white;
}

@keyframes calcbtnhover {
    0% {}

    50% {
        filter: brightness(90%);
    }

    100% {}
}

button.calc:hover {
    filter: brightness(90%);
}