div.name {
    height: 14pt;
    padding: 10px;
    background-color: #f0c60e;
    font-size: 12pt;
    color: #332407;
    font-weight: 500;
}

button.filebutton {
    margin: 10px;
    width: 90vw;
    max-width: 10cm;
    background-color: rgb(207, 220, 224);
    border-radius: 10px;
    padding: 5px;
    border-width: 0px;
}