textarea.text {
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    margin: 5px;
    height: 29.7cm;
    width: 21.0cm;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    letter-spacing: 0.1cm;
    line-break: loose;
    word-wrap: break-word;
    background-color: #252525;
    color: white;
    box-shadow: 2px 2px 10px black, -2px -2px 7px rgba(255, 255, 255, 0.5);
    margin: 10px;
}

textarea.small {
    border-width: 1px;
    border-color: rgb(110, 110, 110);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    margin: 5px;
    height: 90vh;
    width: 90vw;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    letter-spacing: 0.1cm;
    line-break: loose;
    word-wrap: break-word;
}

div.name {
    height: 14pt;
    padding: 10px;
    background-color: #00ff6a6e;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14pt;
}