@font-face {
	/* Poppins */
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/WorkSans.ttf");
}

::selection {
	background-color: #7aa2f8;
	color: #1a1b25;
}

/* Webkit scrollbar styling */
::-webkit-scrollbar {
	width: 2px; /* Slimmer scrollbar width */
	background: black;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	width: 2px;
	height: 2px;
}

@media only screen and (max-width: 600px) {
	body {
		margin-left: 2px;
	}

	#content {
		width: 80vw !important;
	}
}

body {
	background-color: #111111;
	color: white;
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	margin: 5px;
	margin-left: 40px;
	padding: 0px;	
}

html {
	scroll-behavior: smooth;
}

h1 {
	font-size: 3em;
	font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	cursor: default;
}

p {
	padding-left: 10px;
}

ul {
	list-style: none;
	padding: 0px;
}

button {
	padding: 5px;
	border-radius: 2.5px;
	border: 0px;
	background: white;
	color: black;
	font-family: "Work Sans", sans-serif;
	margin: 5px;
	transition: ease-in-out 0.05s;

	&:hover {
		filter: brightness(0.9);
	}

	&:active {
		box-shadow: 0px 0px 0px 5px #ffffff22;
	}
}

small {
	margin: 5px;
}

#content {
	margin: 10px;
	margin-left: 5px;
	width: 60vw;
	line-height: 30px;
}

code {
	background: #222;
}

table {
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;

	td {
		margin: 3px;
		padding: 5px;
	}
}

a,
a:active,
a::after,
a:hover {
	color: #7aa2f8 !important;
}

pre {
	border-radius: 8px;
	overflow: hidden;
	border: 2px solid white;
}

select {
	padding: 10px;
	border-radius: 5px;
	background: #111;
	color: white;
	border: 2px solid white;
	width: 150px;
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Highlighting */
/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}
code.hljs {
	padding: 3px 5px;
}
.hljs {
	background: #f3f3f3;
	color: #444;
}
.hljs-comment {
	color: #697070;
}
.hljs-punctuation,
.hljs-tag {
	color: #444a;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
	color: #444;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
	font-weight: 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
	color: #800;
}
.hljs-section,
.hljs-title {
	color: #800;
	font-weight: 700;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
	color: #ab5656;
}
.hljs-literal {
	color: #695;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
	color: #397300;
}
.hljs-meta {
	color: #1f7199;
}
.hljs-meta .hljs-string {
	color: #38a;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: 700;
}

/*!
  Theme: Equilibrium Gray Dark
  Author: Carlo Abelli
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/

/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme equilibrium-gray-dark
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/

/*
base00  #111111  Default Background
base01  #1b1b1b  Lighter Background (Used for status bars, line number and folding marks)
base02  #262626  Selection Background
base03  #777777  Comments, Invisibles, Line Highlighting
base04  #919191  Dark Foreground (Used for status bars)
base05  #ababab  Default Foreground, Caret, Delimiters, Operators
base06  #c6c6c6  Light Foreground (Not often used)
base07  #e2e2e2  Light Background (Not often used)
base08  #f04339  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #df5923  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #bb8801  Classes, Markup Bold, Search Text Background
base0B  #7f8b00  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #00948b  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #008dd1  Functions, Methods, Attribute IDs, Headings
base0E  #6a7fd2  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #e3488e  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/

pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}

code.hljs {
	padding: 3px 5px;
}

.hljs {
	color: #ababab;
	background: #111111;
}

.hljs::selection,
.hljs ::selection {
	background-color: #262626;
	color: #ababab;
}

/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {
}

/* base03 - #777777 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
	color: #777777;
}

/* base04 - #919191 -  Dark Foreground (Used for status bars) */
.hljs-tag {
	color: #919191;
}

/* base05 - #ababab -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
	color: #ababab;
}

.hljs-operator {
	opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
	color: #f04339;
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
	color: #df5923;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
	color: #bb8801;
}

.hljs-strong {
	font-weight: bold;
	color: #bb8801;
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
	color: #7f8b00;
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag, /* guessing */
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
	color: #00948b;
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
	color: #008dd1;
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
	color: #6a7fd2;
}
.hljs-emphasis {
	color: #6a7fd2;
	font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
	color: #e3488e;
}

.hljs-meta .hljs-keyword,
/* for v10 compatible themes */
.hljs-meta-keyword {
	font-weight: bold;
}
