@font-face {
	font-family: "Work Sans";
	src: url("../fonts/WorkSans.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "JetBrains_Mono";
	src: url("../fonts/JetBrainsMono.ttf");
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

::selection {
	background-color: #94e2d5;
	color: black;
}

body {
	background-color: #11111b;
	color: white;
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	max-width: 100vw;
	overflow-x: hidden;
	margin: 2em;
}

.red {
	color: #f38ba8;
}

.blue {
	color: #89b4fa;
}

.yellow {
	color: #f9e2af;
}

.flamingo {
	color: #f0c6c6;
}

.red-bg-t {
	background-color: #f38ba811 !important;
}

.blue-bg-t {
	background-color: #89b4fa11 !important;
}

.yellow-bg-t {
	background-color: #f9e2af11 !important;
}

.green-bg-t {
	background-color: #a6e3a111 !important;
}

.flamingo-bg-t {
	background-color: #f0c6c611 !important;
}

div.delay_1 {
	animation-duration: 100ms;
}

div.delay_2 {
	animation-duration: 200ms;
}

div.delay_3 {
	animation-duration: 400ms;
}

div.delay_4 {
	animation-duration: 800ms;
}

div.delay_5 {
	animation-duration: 1600ms;
}

div.box {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 2em;
	border-radius: 2em;
	background: #181825;
	flex: 1;
	animation-name: fade;
}

div.full {
	width: calc(100vw - 8em);
	display: block;
}

div.inline {
	display: inline-block;
	min-height: 100px;
	vertical-align: middle;
}

div.inline-2 {
	max-width: calc(100vw - 4em);
}

div.box-container {
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
}

div#screenshotModal {
	background: #00000055;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	text-align: center;
	align-content: center;

	img {
		margin: auto;
		border-radius: 10px;
		border: 1px solid white;
	}
}

span.circle-icon {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	text-align: center;
	background: #b4befe11;
}

h1,
h2,
h3 {
	font-family: serif;
	font-weight: bold;
	margin-bottom: 0.2em;
	margin-top: 0px;
	padding: 0px;
}

h1 {
	font-size: 3em;
}

a,
a::after,
a::before,
a:active {
	color: #a6e3a1;
	text-decoration: underline;
}

a.pointer {
	cursor: pointer !important;
}

button {
	padding: 1em;
	margin: 1em;
	border-radius: 6px;
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
}

button.cta {
	border: none;
	background: #89b4fa;
}

button.secondary {
	border: 1px solid white;
	background: transparent;
}

button.disabled {
	border: none;
	background: #ffffff11;
}

.center {
	text-align: center;
	align-content: center;
}

img.icon {
	display: inline-block;
	height: 20px;
	margin-bottom: -2.5px;
}

img.large {
	height: 25px;
}

img.deg45 {
	transform: rotate(-45deg);
}

img.invert {
	filter: invert();
}

small {
	display: block;
	padding-top: 10px;
	width: 400px;
	margin: auto;
	font-size: 16px;
}
